In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
fp = open(,'r')

In [3]:
df = pd.read_csv('DT_data.csv')

In [8]:
import datetime
datetime.date(df['DATE'])

TypeError: cannot convert the series to <class 'int'>

In [11]:
df['DATE']= pd.to_datetime(df['DATE'])

In [13]:
df['DATE'].min()

Timestamp('2016-01-01 00:00:00')

In [14]:
df['DATE'].max()

Timestamp('2016-11-08 00:00:00')

In [15]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'DATE', 'CONTENT_LINK',
       'CONTENT_CATEGORY', 'CONTENT_TYPE', 'CONTENT', 'PROCESSED', 'TWEETS',
       'RETWEETS', '0', 'PRESS_RELEASE', 'NON_TWEETS'],
      dtype='object')

In [26]:
df1 = df.groupby('CONTENT_CATEGORY')
table = pd.DataFrame(df1['DATE'].max())
table = pd.concat([table ,pd.DataFrame(df1['DATE'].min())], axis = 1)

In [30]:
table.columns = [ 'max_date', 'min_date']
table

                   max_date   min_date
CONTENT_CATEGORY
others           2016-09-12 2016-07-21
press release    2016-07-16 2016-01-03
remarks          2016-11-07 2016-03-21
statement        2016-07-08 2016-02-13
tweet            2016-11-08 2016-01-01

In [39]:
print('Donald Trump collection start and end dates \n')

print(table.to_string())

Donald Trump collection start and end dates

                   max_date   min_date
CONTENT_CATEGORY
others           2016-09-12 2016-07-21
press release    2016-07-16 2016-01-03
remarks          2016-11-07 2016-03-21
statement        2016-07-08 2016-02-13
tweet            2016-11-08 2016-01-01

In [33]:
import tabulate 
print(tabulate.tabulate(table.to_string()))

-
m
a
x
_
d
a
t
e
m
i
n
_
d
a
t
e
C
O
N
T
E
N
T
_
C
A
T
E
G
O
R
Y
o
t
h
e
r
s
2
0
1
6
-
0
9
-
1
2
2
0
1
6
-
0
7
-
2
1
p
r
e
s
s
r
e
l
e
a
s
e
2
0
1
6
-
0
7
-
1
6
2
0
1
6
-
0
1
-
0
3
r
e
m
a
r
k
s
2
0
1
6
-
1
1
-
0
7
2
0
1
6
-
0
3
-
2
1
s
t
a
t
e
m
e
n
t
2
0
1
6
-
0
7
-
0
8
2
0
1
6
-
0
2
-
1
3
t
w
e
e
t
2
0
1
6
-
1
1
-
0
8
2
0
1
6
-
0
1
-
0
1
-